[Unit]
Description=Serre aliot-py
Wants=network-online.target bluetooth.target
After=network-online.target bluetooth.target

[Service]
Type=simple
User=lrima
Group=lrima
WorkingDirectory={{WORKING_DIRECTORY}}
ExecStart={{WORKING_DIRECTORY}}/code/central/venv/bin/python -u main.py
Restart=on-failure
RestartSec=60
StandardOutput=append:{{STANDARD_LOGS}}
StandardError=append:{{ERROR_LOGS}}

[Install]
WantedBy=multi-user.target
