[Unit]
Description=LRIMa Central install bootstrap
After=network.target

[Service]
Type=oneshot
ExecStart=/var/local/LRIMa-central/install.sh
RemainAfterExit=no
Restart=on-failure
TimeoutStartSec=infinity

[Install]
WantedBy=cloud-init.target
